pkgbase = adwaita-icon-theme-fake-cursors
	pkgdesc = GNOME standard icons - patched to make mouse cursors invincible
	pkgver = 46.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/adwaita-icon-theme
	arch = any
	license = CC-BY-SA-3.0 OR LGPL-3.0-only
	makedepends = xorg-xcursorgen
	makedepends = git
	makedepends = gtk-update-icon-cache
	makedepends = meson
	depends = hicolor-icon-theme
	source = git+https://gitlab.gnome.org/GNOME/adwaita-icon-theme.git#tag=46.0
	source = git+https://git.noahvogt.com/noah/transparent-xcursor.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = adwaita-icon-theme
	depends = hicolor-icon-theme
	depends = adwaita-cursors

pkgname = adwaita-fake-cursors
	pkgdesc = GNOME standard cursors - patched to make mouse cursors invincible
	depends = 
	provides = adwaita-cursors
	conflicts = adwaita-cursors
